.product {
  &__image {
    max-height: 320px;
    border-radius: 20px;

    overflow: hidden;

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    aspect-ratio: 1/1;

    &:hover {
      transform: scale(1.1);
    }

    &[data-size="small"] {
      max-height: 200px;
    }
  }
}

@media (max-width: 900px) {
  .product {
    &__image {
      pointer-events: none;
    }
  }
}

@media (max-width: 499.5px) {
  .product {
    &__image {
      &[data-size="small"] {
        max-height: none;
      }
    }
  }
}
