.homepage {
  &__slider {
    max-height: 290px;
    border-radius: 20px;
  }

  &__slide-text {
    position: absolute;
    color: black;
    font-weight: 700;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;

  &::after {
    font-weight: 700;
    font-size: 20px;
    color: #ab47bc;
  }
}

.swiper-pagination-bullet {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: #ab47bc;
}

@media (max-width: 400px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper__image {
    height: 200px;
  }
}
