.category__link {
  border-radius: 15px;
}

.active {
  // background-color: #ab47bc;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 10px,
    #251f33 10px,
    #251f33 20px
  );

  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
