.header {
  display: flex;
  margin: 100px;
  gap: 30px;

  &__link {
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 25px;

    transition: all 0.3s ease-in-out;

    &.active {
      color: white;
      background-color: #777;
    }

    &:hover {
      color: white;
      background-color: #333;
    }
  }
}
