.header {
  &__avatar {
    cursor: pointer;

    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &__search {
    &-image {
      width: 70px;
      height: 70px;
      border-radius: 15px;
    }
  }
}
