.user {
  &__avatar {
    height: 500px;
    aspect-ratio: 1/1;

    border-radius: 35px;
  }

  &__form {
    width: 500px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 20px;
  }

  &__modal-form {
    width: 400px;

    gap: 30px;
  }

  &__password-image {
    width: 220px;
    height: 220px;
  }
}
