body {
  background-color: #212121;
}

.loader__wrapper {
  height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 50%;
  inset: 0;
}

.loader:after {
  box-shadow: 0 4px 0 #c33be6 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}